#subDiv {
    box-shadow: 4px 3px 4px #888888;
    width: 96%;
    margin: auto;
    margin-left: 2%;
    background-color: darkgray;
    padding-bottom: 30px;
}

#subDiv video {
    margin-left: 30%;
}

#article {
    font-family: "MyriadPro-Regular";
}

#article p {
    color: black;
    width: 95%;
    margin: auto;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
}

#article h2 {
    text-align: center;
    font-size: 35px;
    color: black;
}
